<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite thread-count="2" name="Suite" parallel="tests" verbose="5">

	<!--<test name="Test1">
		<parameter name="browserName" value="chrome"></parameter>
		<classes>
			<class name="learnSeleniumDocker.FirefoxWithDocker" />
		</classes>
	</test>  Test -->

	<test name="Test2">
		<parameter name="browserName" value="chrome"></parameter>
		<classes>
			<class name="learnSeleniumDocker.ChromeWithDocker" />
		</classes>
	</test> <!-- Test -->

</suite> <!-- Suite -->
